.input {
  background: #e2e6e9;
  outline-color: #c5c6c7;
  border: none;
  padding: 16px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 720px) {
  .input {
    font-size: 16px;
  }
}
