.input-chatbot {
  background: #fff;
  padding: 14px 20px;
  border-radius: 30px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.input-chatbot input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-gray-1);
}

.input-chatbot button {
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
}
