/* ---------- Configs ---------- */

:root {
  --bg-color-app: #fff;

  --primary-color: #00558F;

  --color-white: #fff;
  --color-gray-0: #3b3b3b;
  --color-gray-1: #5E5E5E;
  --color-gray-2: #8C8C8C;
  --color-gray-3: #ADADAD;

  color: var(--color-gray-0);
  background-color: var(--bg-color-app);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:visited {
  color: var(--color-gray-0);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 24px;
}

/* ---------- Texts ---------- */

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

h6 {
  font-size: 12px;
  font-weight: 500;
}

p, span {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 720px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  p, span {
    font-size: 14px;
  }
}

.text-bold {
  font-weight: 700;
}

.text-semibold {
  font-weight: 500;
}

.text-regular {
  font-weight: 400;
}

/* ---------- Colors ---------- */

.color-white {
  color: var(--color-white);
}

.color-gray-0 {
  color: var(--color-gray-0);
}

.color-gray-1 {
  color: var(--color-gray-1);
}

.color-gray-2 {
  color: var(--color-gray-2);
}

.color-gray-3 {
  color: var(--color-gray-3);
}
