.home-page {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-container {
  width: 100%;
  max-width: 400px;
  margin: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.home-page-container .texts-container {
  text-align: center;
}

.home-page-container .form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.home-page-container .form-container input {
  width: 100%;
}

.home-page-container .developed-by {
  margin-top: 40px;
}

.home-page-container .developed-by a {
  margin-left: 4px;
}
