.chatbot-button {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: var(--primary-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 60px;
  right: 120px;
}

.chatbot-button img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
