.header {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 720px) {
  .header {
    gap: 16px;
  }

  .header .logo {
    max-width: 40px;
    max-height: 40px;
  }

  .header h1 {
    font-size: 20px;
  }

  .header h3 {
    font-size: 16px;
  }
}
