.questions-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.questions-list .question-item {
  background: #e2e6e9;
  padding: 16px 24px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.questions-list .question-item-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
