.questions-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.questions-list .question-item {
  background: #e2e6e9;
  padding: 16px 24px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.questions-list .question-item-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 720px) {
  .questions-list .question-item {
    flex-direction: column;
    align-items: start;
  }
}
