.chatbot-page {
  width: 100%;
  max-width: 900px;
  margin: 56px auto 80px;
  padding: 24px;
}

.tabs-navigation {
  margin: 56px 0 32px;
}

@media (max-width: 720px) {
  .chatbot-page {
    margin: 16px auto 80px;
  }

  .tabs-navigation {
    margin: 32px 0 32px;
  }
}
